/* ROOT */
:root{
    --onyx: #39393A;
    --iris: #7A89C2;
    --skabeloff: #297373;
    --skabeloff-claro: #368b8b;
    --platinum: #E6E6E6;
    
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* GLOBAL */


body{
    font-family: montserrat, sans-serif;
    background-color: var(--platinum);
}

/* NAVBAR - Início */
nav{
    background-color: var(--skabeloff);
    height: 80px;
    width: 100%;
    /* display: flex;
    justify-content: space-evenly; */
}
label.logo{
    color: var(--platinum);
    font-size: 35px;
    line-height: 80px;
    padding: 0 10%;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 200px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: var(--platinum);
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a:hover{
    background: var(--skabeloff-claro);
    color: var(--platinum);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: var(--platinum);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media screen and (max-width: 1257px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul{
        margin-right: 100px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media screen and (max-width: 787px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: calc(100vh - 55vh);
        background: var(--onyx);
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 25px;
    }
    a:hover{
        background: none;
        color: var(--skabeloff-claro);
    }
    #check:checked ~ ul{
        left: 0%;
    }
}
@media screen and (max-width: 395px) {
    label.logo{
        padding: 10%;
    }
    .checkbtn{
        margin-right: 20px;
    }
}
@media screen and (max-width: 330px) {
    label.logo{
        padding: 5%;
    }
}
@media screen and (max-width: 395px) {
    label.logo{
        padding: 2%;
    }
}
/* NAV BAR - Final */

/* Primeira tela - Início */
.tela1{
    height: calc(100vh - 28vh);
}
.tela1 h1{
    display: block;
    width: 80vw;
    font-weight: bolder;
    font-size: 7.7vw;
    margin: 20vh auto .5% auto;
}
.tela1 p{
    width: 95vw;
    display: block;
    font-size: 1.39vw;
    margin: 0 auto ;
}
@media screen and (max-width: 1040px){
    .tela1 p {
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 605px){
    .tela1 h1{
        font-size: 40px;
    }
    .tela1 p {
        font-size: 20px;
    }
}
@media screen and (max-width: 574px){
    .tela1 h1{
        width: 100vw;
    }
    .tela1 p {
        font-size: 5vw;
    }
}
/* Primeira tela - Final */
/* Segunda tela - Início */
.tela2{
    height: 100vh;
    background: var(--iris);
}
.tela2 h1{
    color: var(--onyx);
    display: block;
    width: 51vw;
    font-weight: bolder;
    font-size: 7.7vw;
    margin: 0 auto 20px auto;
}
.aluno{
    background: #fff;
    width: 51vw;
    margin: 0 auto;
    color: var(--onyx);
    border-radius: 2rem;
}
.aluno h4{
    padding: 4vh 20vw 0;
    font-size: 1.2vw;
}

.teste{
    display: flex;
    justify-content: space-between;
}
.aluno{
    margin-bottom: 10px;
}
.aluno img{
    margin: 0 2vw;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin-bottom: 2vh;
}
.aluno p{
    margin-top: 20px;
    display: inline;
    font-size: 1.2vw;
}

@media screen and (max-width: 1040px){
    .aluno{
        width: 80vw;
    }
    .aluno h4{
        font-size: 2vw;
    }
    .aluno img{
        width: 15vw;
        height: 15vw;
    }
    .aluno p{
        font-size: 2vw;
    }
}
@media screen and (max-width: 632px){
    .aluno{
        width: 80vw;
    }
    .aluno h4{
        font-size: 3vw;
    }
    .aluno img{
        width: 15vw;
        height: 15vw;
    }
    .aluno p{
        font-size: 3vw;
    }
}
@media screen and (max-width: 497px){
    .aluno{
        width: 90vw;
    }
    .aluno h4{
        font-size: 3vw;
    }
    .aluno img{
        width: 20vw;
        height: 20vw;
    }
    .aluno p{
        font-size: 4vw;
    }
}
/* Segunda tela - Final */
/* Terceira tela - Início */
.tela3{
    height: 100vh;
}
.tela3 h1{
    color: var(--onyx);
    display: block;
    width: 90vw;
    font-weight: bolder;
    font-size: 7.7vw;
    margin: 0 auto 15px auto;
}
.container{
    margin-top: 0;
    background: #CBA135;
}
.arroba{
    margin-left: 20vw;
}
.active{
    padding: 10vh 20vw;

}
/* Terceira tela - Final */